/* Styles for Header Component */

/* Dark green background color */
.bg-darkgreen {
    background-color: #006400;
}

/* Ivory text color */
.text-ivory {
    color: #fffff0;
}

/* Yellow text color */
.text-yellow {
    color: #ffff00;
}
.navbar {
    font-size: large;
    padding: 20px;
}

/* Styles for Footer Component */

.footer {
    padding: 20px 0;
}